name: Continuous Integration

on:
  push:
    paths-ignore:
      - '**/*.md'
  pull_request:
    paths-ignore:
      - 'doc/**'
      - 'contrib/**'
      - '**/*.md'

jobs:
  # Temporarily disabled other builds while debugging macOS
  # build:
  #   ... (see git history for full config)

  build-macos:
    name: ${{ matrix.name }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: arm64-macos
            os: macos-15

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          brew install autoconf automake libtool miniupnpc openssl pkg-config protobuf \
                       qt@5 qrencode librsvg boost berkeley-db@5 libevent

      - name: Build Dingocoin
        run: |
          export PATH="/opt/homebrew/opt/qt@5/bin:$PATH"
          export LDFLAGS="-L/opt/homebrew/lib -L/opt/homebrew/opt/qt@5/lib -L/opt/homebrew/opt/berkeley-db@5/lib -L/opt/homebrew/opt/openssl@3/lib"
          export CPPFLAGS="-I/opt/homebrew/include -I/opt/homebrew/opt/qt@5/include -I/opt/homebrew/opt/berkeley-db@5/include -I/opt/homebrew/opt/openssl@3/include"
          export PKG_CONFIG_PATH="/opt/homebrew/opt/qt@5/lib/pkgconfig:/opt/homebrew/opt/openssl@3/lib/pkgconfig"

          # Boost 1.90+ has header-only boost_system, create stub library for configure detection
          echo "void exit(int status) {}" > /tmp/boost_system_stub.c
          clang -c /tmp/boost_system_stub.c -o /tmp/boost_system_stub.o
          ar rcs /opt/homebrew/lib/libboost_system.a /tmp/boost_system_stub.o

          ./autogen.sh
          ./configure --enable-c++17 --with-gui=qt5 --disable-zmq \
            --with-boost=/opt/homebrew \
            --with-incompatible-bdb \
            BOOST_LDFLAGS="-L/opt/homebrew/lib"
          make -j$(sysctl -n hw.ncpu)

      - name: Run tests
        run: |
          make check VERBOSE=1

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dingocoin-${{ github.sha }}-${{ matrix.name }}
          path: |
            src/dingocoind
            src/dingocoin-cli
            src/dingocoin-tx
            src/qt/dingocoin-qt
